{% extends 'core/base.html' %}

{% block title %} Welcome | {% endblock %}

{% block content %}
    <div class="columns is-multiline mb-6">
        <div class="column is-12 has-text-centered mt-6 mb-6">
            <h2 class="is-size-3">Latest product on sales</h2>
        </div>

        {% for product in latest_products %}
            {% include 'product/parts/list_item.html' %}
        {% endfor %}
    </div>
    <script>
        {% if messages %}
            {% for message in messages %}
            alert("{{ message }}");
            {% endfor %}
        {% endif %}
    </script>
{% endblock %}
